.gb-spacer {
    flex: 1 1 auto;
}

.gb-logo {
    height: 100%;
    padding: 10px 0;
}

.gb-navbar-button {
    border: none;
    background: transparent;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    &:hover,
    &.active {
        background-color: rgba(221, 221, 221, 0.486);
    }
}
