.gb-no-photos-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.31);
    p {
        font-size: 30px;
        margin-bottom: 40px;
    }
    img {
        width: 300px;
        height: auto;
    }
}

.gb-my-photos-header {
    height: 350px;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.31);
        background-color: #ffffffcc;
        h1 {
            font-size: 50px;
            margin: 0;
        }
    }
    .gb-header-img-container {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        > img {
            position: absolute;
            width: calc(100% + 300px);
            height: calc(100% + 300px);
            margin: -25px;
            object-fit: cover;
            filter: brightness(0.7);
            filter: blur(10px);
        }
    }
}
.gb-photo-container {
    .gb-photo-img-container {
        .gb-photo-img {
            height: auto;
            object-fit: cover;
            width: 100%;
        }
    }
    button {
        display: flex;
        align-items: center;
        mat-icon {
            margin-right: 15px;
        }
    }
}
