<div class="gb-my-photos-header">
    <div *ngIf="randomBg" class="gb-header-img-container animate__animated animate__fadeIn">
        <img src="{{randomBg}}">
    </div>
    <div class="card animate__animated animate__fadeInDown">
        <h1 class="">Tus fotos favoritas</h1>
    </div>
</div>

<div class="container">

    <div class="card gb-no-photos-card animate__animated animate__fadeInUp" *ngIf="myPhotos.length === 0">
        <p>¡No tienes fotos guardadas!</p>
        <img src="/assets/img/idk.png" alt="Idk Face">
    </div>

    <div class="card-columns gb-photo-container" lightbox-group>

        <div *ngFor="let photo of myPhotos, let i = index" class="card mb-3 gb-photo-card">
            <div class="gb-photo-img-container">
                <img lightbox [closeButtonText]="'Cerrar'" [backgroundOpacity]="0.90" class="gb-photo-img"
                    src="{{photo.srcRegular}}">
            </div>
            <div class="p-2">
                <button mat-button (click)="deletePhoto(i)">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                    Borrar de mis fotos
                </button>
            </div>
        </div>

    </div>

</div>