.gb-search-header {
    height: 500px;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    .gb-header-img-container {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        > img {
            position: absolute;
            width: calc(100% + 300px);
            height: calc(100% + 300px);
            margin: -25px;
            object-fit: cover;
            filter: brightness(0.7);
            filter: blur(10px);
        }
    }

    > mat-card {
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.31);

        mat-card-content {
            mat-form-field {
                width: 100%;
            }
        }
        span {
            font-size: 11px;
            font-weight: 300;
        }
    }
}

.gb-photo-container {
    margin-top: 50px;
    .gb-photo-card {
        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.185);
        .gb-avatar {
            overflow: hidden;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: relative;
            }
        }
        .gb-photo-img-container {
            height: 500px;

            .loader {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin: auto;
            }
            .gb-photo-img {
                height: 500px;
                object-fit: cover;
                opacity: 1;
                transition: 0.8s;

                &.loading {
                    opacity: 0;
                    position: absolute;
                }
            }
        }
    }

    mat-card-actions {
        display: flex;
        justify-content: space-between;

        button {
            mat-icon {
                margin-right: 8px;
            }
        }
    }
}

.gb-no-photos-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.31);
    p {
        font-size: 30px;
        margin-bottom: 40px;
    }
    img {
        width: 300px;
        height: auto;
    }
}
